%eb-checkbox {
  &[disabled='true'] .eb-control {
    border-color: $eb-ui-border-disabled;
  }

  .eb-control {
    background: $eb-ui-background-white;
    border: $eb-ui-border;
    border-radius: $eb-checkbox-border-radius;
    transition: 0.1s ease-in-out;
    transition-property: background, border;
    @include size($eb-checkbox-size);

    &.eb-correct {
      border-color: $eb-ui-state-correct;

      .eb-icon {
        fill: $eb-ui-state-correct;
      }
    }

    &.eb-incorrect {
      border-color: $eb-ui-state-incorrect;

      .eb-icon {
        fill: $eb-ui-state-incorrect;
      }
    }

    &.eb-missing {
      background-color: lighten($eb-ui-state-missing, 40%);
      border-color: $eb-ui-state-missing;
    }
  }

  .eb-icon {
    fill: $eb-ui-background-selection;
    transition: 0.1s ease-in-out;
    transition-property: fill, opacity;
    @include size($eb-checkbox-icon-size);

    &.ng-hide {
      opacity: 0;
    }
  }
}
