eb-checkbox {
  @extend %eb-checkbox !optional;
  display: inline-flex;
  user-select: none;

  &[disabled='true'] {
    + span {
      cursor: default;
    }

    .eb-control {
      cursor: default;
    }
  }

  + span {
    cursor: pointer;
  }

  input {
    display: none;
  }

  .eb-control {
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
  }
}
